.FAQwerkgever.privacy{
padding: 0 2.5rem 4rem 2.5rem;
}

.FAQwerkgever.privacy > section{
    padding: 0;
}

.FAQwerkgever.privacy > section article{
    border-bottom: solid 0.15rem var(--Grijs);
}

